{{#*inline "content"}}
  <form>
    <label for="title">Title</label>
    <input name="title" type="text" />
    <label for="authors">Authors</label>
    <input name="authors" type="text" />
  </form>
{{/inline}}
